body{
    margin: 0;
    font-family: sans-serif;
}

nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #BF3359;
 height: 10vh;

}
.right{
    display: flex;
    justify-content: space-evenly;
}

.navItemLeft{
    gap: 4vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

.rightCont{
    border-left: 1px solid white;
    border-right: 1px solid white;

}

.navLeftItemRight {
 border-right: 1px solid white;
}

.navItemRight{
    gap: 4vh;
    display: flex;
    align-items: center;
}
.left{
    border-right: 1px solid white;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.rightSec{
    display: flex;
    gap:2vh;
    align-items: center;
    justify-content: center;
}
.selectInput{
    gap:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    gap:4vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.accWishCard{ 
  gap: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wish{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search{ 
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #BF3359;
    width: 5vh;
    height: 5vh;
}
